/* @jects/jds의 토큰 계약에서 생성한다. 직접 수정하지 않는다. */
/* 갱신은 `pnpm gen:theme`으로 한다. */

@theme inline {
  /* 색 */
  --color-*: initial;
  --color-transparent: transparent;
  --color-current: currentColor;
  --color-inherit: inherit;
  --color-accent-alpha-assistive: var(--color-semantic-accent-alpha-assistive);
  --color-accent-alpha-subtle: var(--color-semantic-accent-alpha-subtle);
  --color-accent-alpha-subtler: var(--color-semantic-accent-alpha-subtler);
  --color-accent-alpha-inverse-subtle: var(--color-semantic-accent-alpha-inverse-subtle);
  --color-accent-alpha-inverse-subtler: var(--color-semantic-accent-alpha-inverse-subtler);
  --color-accent-alpha-inverse-subtlest: var(--color-semantic-accent-alpha-inverse-subtlest);
  --color-accent-alpha-inverse-assistive: var(--color-semantic-accent-alpha-inverse-assistive);
  --color-accent-alpha-inverse-alternative: var(--color-semantic-accent-alpha-inverse-alternative);
  --color-accent-alpha-inverse-neutral: var(--color-semantic-accent-alpha-inverse-neutral);
  --color-accent-alpha-subtlest: var(--color-semantic-accent-alpha-subtlest);
  --color-accent-alpha-alternative: var(--color-semantic-accent-alpha-alternative);
  --color-accent-alpha-neutral: var(--color-semantic-accent-alpha-neutral);
  --color-accent-bold: var(--color-semantic-accent-bold);
  --color-accent-normal: var(--color-semantic-accent-normal);
  --color-accent-neutral: var(--color-semantic-accent-neutral);
  --color-accent-inverse-bold: var(--color-semantic-accent-inverse-bold);
  --color-accent-inverse-normal: var(--color-semantic-accent-inverse-normal);
  --color-accent-inverse-neutral: var(--color-semantic-accent-inverse-neutral);
  --color-accent-inverse-assistive: var(--color-semantic-accent-inverse-assistive);
  --color-accent-inverse-subtle: var(--color-semantic-accent-inverse-subtle);
  --color-accent-inverse-bolder: var(--color-semantic-accent-inverse-bolder);
  --color-accent-inverse-subtler: var(--color-semantic-accent-inverse-subtler);
  --color-accent-inverse-subtlest: var(--color-semantic-accent-inverse-subtlest);
  --color-accent-inverse-alternative: var(--color-semantic-accent-inverse-alternative);
  --color-accent-assistive: var(--color-semantic-accent-assistive);
  --color-accent-subtle: var(--color-semantic-accent-subtle);
  --color-accent-subtler: var(--color-semantic-accent-subtler);
  --color-accent-bolder: var(--color-semantic-accent-bolder);
  --color-accent-subtlest: var(--color-semantic-accent-subtlest);
  --color-accent-alternative: var(--color-semantic-accent-alternative);
  --color-object-neutral: var(--color-semantic-object-neutral);
  --color-object-alternative: var(--color-semantic-object-alternative);
  --color-object-assistive: var(--color-semantic-object-assistive);
  --color-object-subtle: var(--color-semantic-object-subtle);
  --color-object-inverse-neutral: var(--color-semantic-object-inverse-neutral);
  --color-object-inverse-alternative: var(--color-semantic-object-inverse-alternative);
  --color-object-inverse-assistive: var(--color-semantic-object-inverse-assistive);
  --color-object-inverse-subtle: var(--color-semantic-object-inverse-subtle);
  --color-object-inverse-boldest: var(--color-semantic-object-inverse-boldest);
  --color-object-inverse-bold: var(--color-semantic-object-inverse-bold);
  --color-object-inverse-bolder: var(--color-semantic-object-inverse-bolder);
  --color-object-inverse-normal: var(--color-semantic-object-inverse-normal);
  --color-object-inverse-subtler: var(--color-semantic-object-inverse-subtler);
  --color-object-inverse-subtlest: var(--color-semantic-object-inverse-subtlest);
  --color-object-boldest: var(--color-semantic-object-boldest);
  --color-object-bold: var(--color-semantic-object-bold);
  --color-object-static-boldest: var(--color-semantic-object-static-boldest);
  --color-object-static-bold: var(--color-semantic-object-static-bold);
  --color-object-static-neutral: var(--color-semantic-object-static-neutral);
  --color-object-static-alternative: var(--color-semantic-object-static-alternative);
  --color-object-static-assistive: var(--color-semantic-object-static-assistive);
  --color-object-static-subtle: var(--color-semantic-object-static-subtle);
  --color-object-static-inverse-boldest: var(--color-semantic-object-static-inverse-boldest);
  --color-object-static-inverse-bold: var(--color-semantic-object-static-inverse-bold);
  --color-object-static-inverse-neutral: var(--color-semantic-object-static-inverse-neutral);
  --color-object-static-inverse-alternative: var(--color-semantic-object-static-inverse-alternative);
  --color-object-static-inverse-assistive: var(--color-semantic-object-static-inverse-assistive);
  --color-object-static-inverse-subtle: var(--color-semantic-object-static-inverse-subtle);
  --color-object-static-inverse-bolder: var(--color-semantic-object-static-inverse-bolder);
  --color-object-static-inverse-normal: var(--color-semantic-object-static-inverse-normal);
  --color-object-static-inverse-subtler: var(--color-semantic-object-static-inverse-subtler);
  --color-object-static-inverse-subtlest: var(--color-semantic-object-static-inverse-subtlest);
  --color-object-static-bolder: var(--color-semantic-object-static-bolder);
  --color-object-static-normal: var(--color-semantic-object-static-normal);
  --color-object-static-subtler: var(--color-semantic-object-static-subtler);
  --color-object-static-subtlest: var(--color-semantic-object-static-subtlest);
  --color-object-bolder: var(--color-semantic-object-bolder);
  --color-object-normal: var(--color-semantic-object-normal);
  --color-object-subtler: var(--color-semantic-object-subtler);
  --color-object-subtlest: var(--color-semantic-object-subtlest);
  --color-surface-standard: var(--color-semantic-surface-standard);
  --color-surface-deep: var(--color-semantic-surface-deep);
  --color-surface-deeper: var(--color-semantic-surface-deeper);
  --color-surface-deepest: var(--color-semantic-surface-deepest);
  --color-surface-inverse-standard: var(--color-semantic-surface-inverse-standard);
  --color-surface-inverse-deep: var(--color-semantic-surface-inverse-deep);
  --color-surface-inverse-deeper: var(--color-semantic-surface-inverse-deeper);
  --color-surface-inverse-deepest: var(--color-semantic-surface-inverse-deepest);
  --color-surface-inverse-shallow: var(--color-semantic-surface-inverse-shallow);
  --color-surface-inverse-shallower: var(--color-semantic-surface-inverse-shallower);
  --color-surface-inverse-shallowest: var(--color-semantic-surface-inverse-shallowest);
  --color-surface-shallow: var(--color-semantic-surface-shallow);
  --color-surface-shallower: var(--color-semantic-surface-shallower);
  --color-surface-shallowest: var(--color-semantic-surface-shallowest);
  --color-surface-static-shallowest: var(--color-semantic-surface-static-shallowest);
  --color-surface-static-shallower: var(--color-semantic-surface-static-shallower);
  --color-surface-static-shallow: var(--color-semantic-surface-static-shallow);
  --color-surface-static-standard: var(--color-semantic-surface-static-standard);
  --color-surface-static-deep: var(--color-semantic-surface-static-deep);
  --color-surface-static-deeper: var(--color-semantic-surface-static-deeper);
  --color-surface-static-deepest: var(--color-semantic-surface-static-deepest);
  --color-surface-static-inverse-shallowest: var(--color-semantic-surface-static-inverse-shallowest);
  --color-surface-static-inverse-shallower: var(--color-semantic-surface-static-inverse-shallower);
  --color-surface-static-inverse-shallow: var(--color-semantic-surface-static-inverse-shallow);
  --color-surface-static-inverse-standard: var(--color-semantic-surface-static-inverse-standard);
  --color-surface-static-inverse-deep: var(--color-semantic-surface-static-inverse-deep);
  --color-surface-static-inverse-deeper: var(--color-semantic-surface-static-inverse-deeper);
  --color-surface-static-inverse-deepest: var(--color-semantic-surface-static-inverse-deepest);
  --color-stroke-neutral: var(--color-semantic-stroke-neutral);
  --color-stroke-alternative: var(--color-semantic-stroke-alternative);
  --color-stroke-assistive: var(--color-semantic-stroke-assistive);
  --color-stroke-normal: var(--color-semantic-stroke-normal);
  --color-stroke-bold: var(--color-semantic-stroke-bold);
  --color-stroke-alpha-bold: var(--color-semantic-stroke-alpha-bold);
  --color-stroke-alpha-normal: var(--color-semantic-stroke-alpha-normal);
  --color-stroke-alpha-neutral: var(--color-semantic-stroke-alpha-neutral);
  --color-stroke-alpha-alternative: var(--color-semantic-stroke-alpha-alternative);
  --color-stroke-alpha-assistive: var(--color-semantic-stroke-alpha-assistive);
  --color-stroke-alpha-subtle: var(--color-semantic-stroke-alpha-subtle);
  --color-stroke-alpha-inverse-bold: var(--color-semantic-stroke-alpha-inverse-bold);
  --color-stroke-alpha-inverse-normal: var(--color-semantic-stroke-alpha-inverse-normal);
  --color-stroke-alpha-inverse-neutral: var(--color-semantic-stroke-alpha-inverse-neutral);
  --color-stroke-alpha-inverse-alternative: var(--color-semantic-stroke-alpha-inverse-alternative);
  --color-stroke-alpha-inverse-assistive: var(--color-semantic-stroke-alpha-inverse-assistive);
  --color-stroke-alpha-inverse-subtle: var(--color-semantic-stroke-alpha-inverse-subtle);
  --color-stroke-alpha-inverse-subtler: var(--color-semantic-stroke-alpha-inverse-subtler);
  --color-stroke-alpha-inverse-subtlest: var(--color-semantic-stroke-alpha-inverse-subtlest);
  --color-stroke-alpha-subtler: var(--color-semantic-stroke-alpha-subtler);
  --color-stroke-alpha-subtlest: var(--color-semantic-stroke-alpha-subtlest);
  --color-stroke-subtle: var(--color-semantic-stroke-subtle);
  --color-stroke-inverse-bold: var(--color-semantic-stroke-inverse-bold);
  --color-stroke-inverse-normal: var(--color-semantic-stroke-inverse-normal);
  --color-stroke-inverse-neutral: var(--color-semantic-stroke-inverse-neutral);
  --color-stroke-inverse-alternative: var(--color-semantic-stroke-inverse-alternative);
  --color-stroke-inverse-assistive: var(--color-semantic-stroke-inverse-assistive);
  --color-stroke-inverse-subtle: var(--color-semantic-stroke-inverse-subtle);
  --color-stroke-inverse-subtler: var(--color-semantic-stroke-inverse-subtler);
  --color-stroke-inverse-subtlest: var(--color-semantic-stroke-inverse-subtlest);
  --color-stroke-subtler: var(--color-semantic-stroke-subtler);
  --color-stroke-subtlest: var(--color-semantic-stroke-subtlest);
  --color-fill-boldest: var(--color-semantic-fill-boldest);
  --color-fill-bold: var(--color-semantic-fill-bold);
  --color-fill-inverse-boldest: var(--color-semantic-fill-inverse-boldest);
  --color-fill-inverse-bold: var(--color-semantic-fill-inverse-bold);
  --color-fill-inverse-neutral: var(--color-semantic-fill-inverse-neutral);
  --color-fill-inverse-alternative: var(--color-semantic-fill-inverse-alternative);
  --color-fill-inverse-assistive: var(--color-semantic-fill-inverse-assistive);
  --color-fill-inverse-subtle: var(--color-semantic-fill-inverse-subtle);
  --color-fill-inverse-subtler: var(--color-semantic-fill-inverse-subtler);
  --color-fill-inverse-subtlest: var(--color-semantic-fill-inverse-subtlest);
  --color-fill-inverse-bolder: var(--color-semantic-fill-inverse-bolder);
  --color-fill-inverse-normal: var(--color-semantic-fill-inverse-normal);
  --color-fill-subtle: var(--color-semantic-fill-subtle);
  --color-fill-subtler: var(--color-semantic-fill-subtler);
  --color-fill-subtlest: var(--color-semantic-fill-subtlest);
  --color-fill-bolder: var(--color-semantic-fill-bolder);
  --color-fill-normal: var(--color-semantic-fill-normal);
  --color-fill-neutral: var(--color-semantic-fill-neutral);
  --color-fill-alternative: var(--color-semantic-fill-alternative);
  --color-fill-assistive: var(--color-semantic-fill-assistive);
  --color-system-white: var(--color-semantic-system-white);
  --color-system-black: var(--color-semantic-system-black);
  --color-theme-red-bold: var(--color-semantic-theme-red-bold);
  --color-theme-red-normal: var(--color-semantic-theme-red-normal);
  --color-theme-red-neutral: var(--color-semantic-theme-red-neutral);
  --color-theme-red-alternative: var(--color-semantic-theme-red-alternative);
  --color-theme-red-assistive: var(--color-semantic-theme-red-assistive);
  --color-theme-red-subtle: var(--color-semantic-theme-red-subtle);
  --color-theme-red-subtler: var(--color-semantic-theme-red-subtler);
  --color-theme-red-alpha-assistive: var(--color-semantic-theme-red-alpha-assistive);
  --color-theme-red-alpha-subtle: var(--color-semantic-theme-red-alpha-subtle);
  --color-theme-red-alpha-subtler: var(--color-semantic-theme-red-alpha-subtler);
  --color-theme-red-alpha-subtlest: var(--color-semantic-theme-red-alpha-subtlest);
  --color-theme-red-alpha-alternative: var(--color-semantic-theme-red-alpha-alternative);
  --color-theme-red-alpha-neutral: var(--color-semantic-theme-red-alpha-neutral);
  --color-theme-red-bolder: var(--color-semantic-theme-red-bolder);
  --color-theme-red-subtlest: var(--color-semantic-theme-red-subtlest);
  --color-theme-orange-bold: var(--color-semantic-theme-orange-bold);
  --color-theme-orange-normal: var(--color-semantic-theme-orange-normal);
  --color-theme-orange-neutral: var(--color-semantic-theme-orange-neutral);
  --color-theme-orange-alternative: var(--color-semantic-theme-orange-alternative);
  --color-theme-orange-assistive: var(--color-semantic-theme-orange-assistive);
  --color-theme-orange-subtle: var(--color-semantic-theme-orange-subtle);
  --color-theme-orange-subtler: var(--color-semantic-theme-orange-subtler);
  --color-theme-orange-alpha-assistive: var(--color-semantic-theme-orange-alpha-assistive);
  --color-theme-orange-alpha-subtle: var(--color-semantic-theme-orange-alpha-subtle);
  --color-theme-orange-alpha-subtler: var(--color-semantic-theme-orange-alpha-subtler);
  --color-theme-orange-alpha-subtlest: var(--color-semantic-theme-orange-alpha-subtlest);
  --color-theme-orange-alpha-alternative: var(--color-semantic-theme-orange-alpha-alternative);
  --color-theme-orange-alpha-neutral: var(--color-semantic-theme-orange-alpha-neutral);
  --color-theme-orange-bolder: var(--color-semantic-theme-orange-bolder);
  --color-theme-orange-subtlest: var(--color-semantic-theme-orange-subtlest);
  --color-theme-yellow-bold: var(--color-semantic-theme-yellow-bold);
  --color-theme-yellow-normal: var(--color-semantic-theme-yellow-normal);
  --color-theme-yellow-neutral: var(--color-semantic-theme-yellow-neutral);
  --color-theme-yellow-alternative: var(--color-semantic-theme-yellow-alternative);
  --color-theme-yellow-assistive: var(--color-semantic-theme-yellow-assistive);
  --color-theme-yellow-subtle: var(--color-semantic-theme-yellow-subtle);
  --color-theme-yellow-subtler: var(--color-semantic-theme-yellow-subtler);
  --color-theme-yellow-alpha-assistive: var(--color-semantic-theme-yellow-alpha-assistive);
  --color-theme-yellow-alpha-subtle: var(--color-semantic-theme-yellow-alpha-subtle);
  --color-theme-yellow-alpha-subtler: var(--color-semantic-theme-yellow-alpha-subtler);
  --color-theme-yellow-alpha-subtlest: var(--color-semantic-theme-yellow-alpha-subtlest);
  --color-theme-yellow-alpha-alternative: var(--color-semantic-theme-yellow-alpha-alternative);
  --color-theme-yellow-alpha-neutral: var(--color-semantic-theme-yellow-alpha-neutral);
  --color-theme-yellow-bolder: var(--color-semantic-theme-yellow-bolder);
  --color-theme-yellow-subtlest: var(--color-semantic-theme-yellow-subtlest);
  --color-theme-lime-bold: var(--color-semantic-theme-lime-bold);
  --color-theme-lime-normal: var(--color-semantic-theme-lime-normal);
  --color-theme-lime-neutral: var(--color-semantic-theme-lime-neutral);
  --color-theme-lime-alternative: var(--color-semantic-theme-lime-alternative);
  --color-theme-lime-assistive: var(--color-semantic-theme-lime-assistive);
  --color-theme-lime-subtle: var(--color-semantic-theme-lime-subtle);
  --color-theme-lime-subtler: var(--color-semantic-theme-lime-subtler);
  --color-theme-lime-alpha-assistive: var(--color-semantic-theme-lime-alpha-assistive);
  --color-theme-lime-alpha-subtle: var(--color-semantic-theme-lime-alpha-subtle);
  --color-theme-lime-alpha-subtler: var(--color-semantic-theme-lime-alpha-subtler);
  --color-theme-lime-alpha-subtlest: var(--color-semantic-theme-lime-alpha-subtlest);
  --color-theme-lime-alpha-alternative: var(--color-semantic-theme-lime-alpha-alternative);
  --color-theme-lime-alpha-neutral: var(--color-semantic-theme-lime-alpha-neutral);
  --color-theme-lime-bolder: var(--color-semantic-theme-lime-bolder);
  --color-theme-lime-subtlest: var(--color-semantic-theme-lime-subtlest);
  --color-theme-green-bold: var(--color-semantic-theme-green-bold);
  --color-theme-green-normal: var(--color-semantic-theme-green-normal);
  --color-theme-green-neutral: var(--color-semantic-theme-green-neutral);
  --color-theme-green-alternative: var(--color-semantic-theme-green-alternative);
  --color-theme-green-assistive: var(--color-semantic-theme-green-assistive);
  --color-theme-green-subtle: var(--color-semantic-theme-green-subtle);
  --color-theme-green-subtler: var(--color-semantic-theme-green-subtler);
  --color-theme-green-alpha-assistive: var(--color-semantic-theme-green-alpha-assistive);
  --color-theme-green-alpha-subtle: var(--color-semantic-theme-green-alpha-subtle);
  --color-theme-green-alpha-subtler: var(--color-semantic-theme-green-alpha-subtler);
  --color-theme-green-alpha-subtlest: var(--color-semantic-theme-green-alpha-subtlest);
  --color-theme-green-alpha-alternative: var(--color-semantic-theme-green-alpha-alternative);
  --color-theme-green-alpha-neutral: var(--color-semantic-theme-green-alpha-neutral);
  --color-theme-green-bolder: var(--color-semantic-theme-green-bolder);
  --color-theme-green-subtlest: var(--color-semantic-theme-green-subtlest);
  --color-theme-teal-bold: var(--color-semantic-theme-teal-bold);
  --color-theme-teal-normal: var(--color-semantic-theme-teal-normal);
  --color-theme-teal-neutral: var(--color-semantic-theme-teal-neutral);
  --color-theme-teal-alternative: var(--color-semantic-theme-teal-alternative);
  --color-theme-teal-assistive: var(--color-semantic-theme-teal-assistive);
  --color-theme-teal-subtle: var(--color-semantic-theme-teal-subtle);
  --color-theme-teal-subtler: var(--color-semantic-theme-teal-subtler);
  --color-theme-teal-alpha-assistive: var(--color-semantic-theme-teal-alpha-assistive);
  --color-theme-teal-alpha-subtle: var(--color-semantic-theme-teal-alpha-subtle);
  --color-theme-teal-alpha-subtler: var(--color-semantic-theme-teal-alpha-subtler);
  --color-theme-teal-alpha-subtlest: var(--color-semantic-theme-teal-alpha-subtlest);
  --color-theme-teal-alpha-alternative: var(--color-semantic-theme-teal-alpha-alternative);
  --color-theme-teal-alpha-neutral: var(--color-semantic-theme-teal-alpha-neutral);
  --color-theme-teal-bolder: var(--color-semantic-theme-teal-bolder);
  --color-theme-teal-subtlest: var(--color-semantic-theme-teal-subtlest);
  --color-theme-sky-bold: var(--color-semantic-theme-sky-bold);
  --color-theme-sky-normal: var(--color-semantic-theme-sky-normal);
  --color-theme-sky-neutral: var(--color-semantic-theme-sky-neutral);
  --color-theme-sky-alternative: var(--color-semantic-theme-sky-alternative);
  --color-theme-sky-assistive: var(--color-semantic-theme-sky-assistive);
  --color-theme-sky-subtle: var(--color-semantic-theme-sky-subtle);
  --color-theme-sky-subtler: var(--color-semantic-theme-sky-subtler);
  --color-theme-sky-alpha-assistive: var(--color-semantic-theme-sky-alpha-assistive);
  --color-theme-sky-alpha-subtle: var(--color-semantic-theme-sky-alpha-subtle);
  --color-theme-sky-alpha-subtler: var(--color-semantic-theme-sky-alpha-subtler);
  --color-theme-sky-alpha-subtlest: var(--color-semantic-theme-sky-alpha-subtlest);
  --color-theme-sky-alpha-alternative: var(--color-semantic-theme-sky-alpha-alternative);
  --color-theme-sky-alpha-neutral: var(--color-semantic-theme-sky-alpha-neutral);
  --color-theme-sky-bolder: var(--color-semantic-theme-sky-bolder);
  --color-theme-sky-subtlest: var(--color-semantic-theme-sky-subtlest);
  --color-theme-purple-bold: var(--color-semantic-theme-purple-bold);
  --color-theme-purple-normal: var(--color-semantic-theme-purple-normal);
  --color-theme-purple-neutral: var(--color-semantic-theme-purple-neutral);
  --color-theme-purple-alternative: var(--color-semantic-theme-purple-alternative);
  --color-theme-purple-assistive: var(--color-semantic-theme-purple-assistive);
  --color-theme-purple-subtle: var(--color-semantic-theme-purple-subtle);
  --color-theme-purple-subtler: var(--color-semantic-theme-purple-subtler);
  --color-theme-purple-alpha-assistive: var(--color-semantic-theme-purple-alpha-assistive);
  --color-theme-purple-alpha-subtle: var(--color-semantic-theme-purple-alpha-subtle);
  --color-theme-purple-alpha-subtler: var(--color-semantic-theme-purple-alpha-subtler);
  --color-theme-purple-alpha-subtlest: var(--color-semantic-theme-purple-alpha-subtlest);
  --color-theme-purple-alpha-alternative: var(--color-semantic-theme-purple-alpha-alternative);
  --color-theme-purple-alpha-neutral: var(--color-semantic-theme-purple-alpha-neutral);
  --color-theme-purple-bolder: var(--color-semantic-theme-purple-bolder);
  --color-theme-purple-subtlest: var(--color-semantic-theme-purple-subtlest);
  --color-theme-pink-bold: var(--color-semantic-theme-pink-bold);
  --color-theme-pink-normal: var(--color-semantic-theme-pink-normal);
  --color-theme-pink-neutral: var(--color-semantic-theme-pink-neutral);
  --color-theme-pink-alternative: var(--color-semantic-theme-pink-alternative);
  --color-theme-pink-assistive: var(--color-semantic-theme-pink-assistive);
  --color-theme-pink-subtle: var(--color-semantic-theme-pink-subtle);
  --color-theme-pink-subtler: var(--color-semantic-theme-pink-subtler);
  --color-theme-pink-alpha-assistive: var(--color-semantic-theme-pink-alpha-assistive);
  --color-theme-pink-alpha-subtle: var(--color-semantic-theme-pink-alpha-subtle);
  --color-theme-pink-alpha-subtler: var(--color-semantic-theme-pink-alpha-subtler);
  --color-theme-pink-alpha-subtlest: var(--color-semantic-theme-pink-alpha-subtlest);
  --color-theme-pink-alpha-alternative: var(--color-semantic-theme-pink-alpha-alternative);
  --color-theme-pink-alpha-neutral: var(--color-semantic-theme-pink-alpha-neutral);
  --color-theme-pink-bolder: var(--color-semantic-theme-pink-bolder);
  --color-theme-pink-subtlest: var(--color-semantic-theme-pink-subtlest);
  --color-theme-indigo-bolder: var(--color-semantic-theme-indigo-bolder);
  --color-theme-indigo-bold: var(--color-semantic-theme-indigo-bold);
  --color-theme-indigo-normal: var(--color-semantic-theme-indigo-normal);
  --color-theme-indigo-neutral: var(--color-semantic-theme-indigo-neutral);
  --color-theme-indigo-alternative: var(--color-semantic-theme-indigo-alternative);
  --color-theme-indigo-assistive: var(--color-semantic-theme-indigo-assistive);
  --color-theme-indigo-subtle: var(--color-semantic-theme-indigo-subtle);
  --color-theme-indigo-subtler: var(--color-semantic-theme-indigo-subtler);
  --color-theme-indigo-subtlest: var(--color-semantic-theme-indigo-subtlest);
  --color-theme-indigo-alpha-alternative: var(--color-semantic-theme-indigo-alpha-alternative);
  --color-theme-indigo-alpha-assistive: var(--color-semantic-theme-indigo-alpha-assistive);
  --color-theme-indigo-alpha-subtle: var(--color-semantic-theme-indigo-alpha-subtle);
  --color-theme-indigo-alpha-subtler: var(--color-semantic-theme-indigo-alpha-subtler);
  --color-theme-indigo-alpha-subtlest: var(--color-semantic-theme-indigo-alpha-subtlest);
  --color-theme-indigo-alpha-neutral: var(--color-semantic-theme-indigo-alpha-neutral);
  --color-curtain-static-bright: var(--color-semantic-curtain-static-bright);
  --color-curtain-static-dim: var(--color-semantic-curtain-static-dim);
  --color-curtain-static-dimmer: var(--color-semantic-curtain-static-dimmer);
  --color-curtain-standard: var(--color-semantic-curtain-standard);
  --color-feedback-positive-alpha-subtle: var(--color-semantic-feedback-positive-alpha-subtle);
  --color-feedback-positive-alpha-assistive: var(--color-semantic-feedback-positive-alpha-assistive);
  --color-feedback-positive-alpha-subtler: var(--color-semantic-feedback-positive-alpha-subtler);
  --color-feedback-positive-alpha-inverse-assistive: var(--color-semantic-feedback-positive-alpha-inverse-assistive);
  --color-feedback-positive-alpha-inverse-subtle: var(--color-semantic-feedback-positive-alpha-inverse-subtle);
  --color-feedback-positive-alpha-inverse-subtler: var(--color-semantic-feedback-positive-alpha-inverse-subtler);
  --color-feedback-positive-alpha-inverse-subtlest: var(--color-semantic-feedback-positive-alpha-inverse-subtlest);
  --color-feedback-positive-alpha-inverse-alternative: var(--color-semantic-feedback-positive-alpha-inverse-alternative);
  --color-feedback-positive-alpha-inverse-neutral: var(--color-semantic-feedback-positive-alpha-inverse-neutral);
  --color-feedback-positive-alpha-subtlest: var(--color-semantic-feedback-positive-alpha-subtlest);
  --color-feedback-positive-alpha-alternative: var(--color-semantic-feedback-positive-alpha-alternative);
  --color-feedback-positive-alpha-neutral: var(--color-semantic-feedback-positive-alpha-neutral);
  --color-feedback-positive-normal: var(--color-semantic-feedback-positive-normal);
  --color-feedback-positive-bold: var(--color-semantic-feedback-positive-bold);
  --color-feedback-positive-inverse-bold: var(--color-semantic-feedback-positive-inverse-bold);
  --color-feedback-positive-inverse-normal: var(--color-semantic-feedback-positive-inverse-normal);
  --color-feedback-positive-inverse-neutral: var(--color-semantic-feedback-positive-inverse-neutral);
  --color-feedback-positive-inverse-alternative: var(--color-semantic-feedback-positive-inverse-alternative);
  --color-feedback-positive-inverse-assistive: var(--color-semantic-feedback-positive-inverse-assistive);
  --color-feedback-positive-inverse-subtle: var(--color-semantic-feedback-positive-inverse-subtle);
  --color-feedback-positive-inverse-subtler: var(--color-semantic-feedback-positive-inverse-subtler);
  --color-feedback-positive-inverse-bolder: var(--color-semantic-feedback-positive-inverse-bolder);
  --color-feedback-positive-inverse-subtlest: var(--color-semantic-feedback-positive-inverse-subtlest);
  --color-feedback-positive-assistive: var(--color-semantic-feedback-positive-assistive);
  --color-feedback-positive-subtler: var(--color-semantic-feedback-positive-subtler);
  --color-feedback-positive-neutral: var(--color-semantic-feedback-positive-neutral);
  --color-feedback-positive-alternative: var(--color-semantic-feedback-positive-alternative);
  --color-feedback-positive-subtle: var(--color-semantic-feedback-positive-subtle);
  --color-feedback-positive-bolder: var(--color-semantic-feedback-positive-bolder);
  --color-feedback-positive-subtlest: var(--color-semantic-feedback-positive-subtlest);
  --color-feedback-destructive-bold: var(--color-semantic-feedback-destructive-bold);
  --color-feedback-destructive-inverse-bold: var(--color-semantic-feedback-destructive-inverse-bold);
  --color-feedback-destructive-inverse-normal: var(--color-semantic-feedback-destructive-inverse-normal);
  --color-feedback-destructive-inverse-neutral: var(--color-semantic-feedback-destructive-inverse-neutral);
  --color-feedback-destructive-inverse-alternative: var(--color-semantic-feedback-destructive-inverse-alternative);
  --color-feedback-destructive-inverse-assistive: var(--color-semantic-feedback-destructive-inverse-assistive);
  --color-feedback-destructive-inverse-subtle: var(--color-semantic-feedback-destructive-inverse-subtle);
  --color-feedback-destructive-inverse-subtler: var(--color-semantic-feedback-destructive-inverse-subtler);
  --color-feedback-destructive-inverse-bolder: var(--color-semantic-feedback-destructive-inverse-bolder);
  --color-feedback-destructive-inverse-subtlest: var(--color-semantic-feedback-destructive-inverse-subtlest);
  --color-feedback-destructive-normal: var(--color-semantic-feedback-destructive-normal);
  --color-feedback-destructive-alpha-assistive: var(--color-semantic-feedback-destructive-alpha-assistive);
  --color-feedback-destructive-alpha-subtle: var(--color-semantic-feedback-destructive-alpha-subtle);
  --color-feedback-destructive-alpha-subtler: var(--color-semantic-feedback-destructive-alpha-subtler);
  --color-feedback-destructive-alpha-inverse-assistive: var(--color-semantic-feedback-destructive-alpha-inverse-assistive);
  --color-feedback-destructive-alpha-inverse-subtle: var(--color-semantic-feedback-destructive-alpha-inverse-subtle);
  --color-feedback-destructive-alpha-inverse-subtler: var(--color-semantic-feedback-destructive-alpha-inverse-subtler);
  --color-feedback-destructive-alpha-inverse-subtlest: var(--color-semantic-feedback-destructive-alpha-inverse-subtlest);
  --color-feedback-destructive-alpha-inverse-alternative: var(--color-semantic-feedback-destructive-alpha-inverse-alternative);
  --color-feedback-destructive-alpha-inverse-neutral: var(--color-semantic-feedback-destructive-alpha-inverse-neutral);
  --color-feedback-destructive-alpha-subtlest: var(--color-semantic-feedback-destructive-alpha-subtlest);
  --color-feedback-destructive-alpha-alternative: var(--color-semantic-feedback-destructive-alpha-alternative);
  --color-feedback-destructive-alpha-neutral: var(--color-semantic-feedback-destructive-alpha-neutral);
  --color-feedback-destructive-neutral: var(--color-semantic-feedback-destructive-neutral);
  --color-feedback-destructive-alternative: var(--color-semantic-feedback-destructive-alternative);
  --color-feedback-destructive-assistive: var(--color-semantic-feedback-destructive-assistive);
  --color-feedback-destructive-subtle: var(--color-semantic-feedback-destructive-subtle);
  --color-feedback-destructive-subtler: var(--color-semantic-feedback-destructive-subtler);
  --color-feedback-destructive-bolder: var(--color-semantic-feedback-destructive-bolder);
  --color-feedback-destructive-subtlest: var(--color-semantic-feedback-destructive-subtlest);
  --color-feedback-notifying-bold: var(--color-semantic-feedback-notifying-bold);
  --color-feedback-notifying-normal: var(--color-semantic-feedback-notifying-normal);
  --color-feedback-notifying-neutral: var(--color-semantic-feedback-notifying-neutral);
  --color-feedback-notifying-alternative: var(--color-semantic-feedback-notifying-alternative);
  --color-feedback-notifying-assistive: var(--color-semantic-feedback-notifying-assistive);
  --color-feedback-notifying-subtle: var(--color-semantic-feedback-notifying-subtle);
  --color-feedback-notifying-subtler: var(--color-semantic-feedback-notifying-subtler);
  --color-feedback-notifying-inverse-bold: var(--color-semantic-feedback-notifying-inverse-bold);
  --color-feedback-notifying-inverse-normal: var(--color-semantic-feedback-notifying-inverse-normal);
  --color-feedback-notifying-inverse-neutral: var(--color-semantic-feedback-notifying-inverse-neutral);
  --color-feedback-notifying-inverse-alternative: var(--color-semantic-feedback-notifying-inverse-alternative);
  --color-feedback-notifying-inverse-assistive: var(--color-semantic-feedback-notifying-inverse-assistive);
  --color-feedback-notifying-inverse-subtle: var(--color-semantic-feedback-notifying-inverse-subtle);
  --color-feedback-notifying-inverse-subtler: var(--color-semantic-feedback-notifying-inverse-subtler);
  --color-feedback-notifying-inverse-bolder: var(--color-semantic-feedback-notifying-inverse-bolder);
  --color-feedback-notifying-inverse-subtlest: var(--color-semantic-feedback-notifying-inverse-subtlest);
  --color-feedback-notifying-alpha-assistive: var(--color-semantic-feedback-notifying-alpha-assistive);
  --color-feedback-notifying-alpha-subtle: var(--color-semantic-feedback-notifying-alpha-subtle);
  --color-feedback-notifying-alpha-subtler: var(--color-semantic-feedback-notifying-alpha-subtler);
  --color-feedback-notifying-alpha-inverse-assistive: var(--color-semantic-feedback-notifying-alpha-inverse-assistive);
  --color-feedback-notifying-alpha-inverse-subtle: var(--color-semantic-feedback-notifying-alpha-inverse-subtle);
  --color-feedback-notifying-alpha-inverse-subtler: var(--color-semantic-feedback-notifying-alpha-inverse-subtler);
  --color-feedback-notifying-alpha-inverse-subtlest: var(--color-semantic-feedback-notifying-alpha-inverse-subtlest);
  --color-feedback-notifying-alpha-inverse-alternative: var(--color-semantic-feedback-notifying-alpha-inverse-alternative);
  --color-feedback-notifying-alpha-inverse-neutral: var(--color-semantic-feedback-notifying-alpha-inverse-neutral);
  --color-feedback-notifying-alpha-subtlest: var(--color-semantic-feedback-notifying-alpha-subtlest);
  --color-feedback-notifying-alpha-alternative: var(--color-semantic-feedback-notifying-alpha-alternative);
  --color-feedback-notifying-alpha-neutral: var(--color-semantic-feedback-notifying-alpha-neutral);
  --color-feedback-notifying-bolder: var(--color-semantic-feedback-notifying-bolder);
  --color-feedback-notifying-subtlest: var(--color-semantic-feedback-notifying-subtlest);
  --color-feedback-notifying-static-bolder: var(--color-semantic-feedback-notifying-static-bolder);
  --color-feedback-notifying-static-bold: var(--color-semantic-feedback-notifying-static-bold);
  --color-feedback-notifying-static-normal: var(--color-semantic-feedback-notifying-static-normal);
  --color-feedback-notifying-static-neutral: var(--color-semantic-feedback-notifying-static-neutral);
  --color-feedback-notifying-static-alternative: var(--color-semantic-feedback-notifying-static-alternative);
  --color-feedback-notifying-static-assistive: var(--color-semantic-feedback-notifying-static-assistive);
  --color-feedback-notifying-static-subtle: var(--color-semantic-feedback-notifying-static-subtle);
  --color-feedback-notifying-static-subtler: var(--color-semantic-feedback-notifying-static-subtler);
  --color-feedback-notifying-static-subtlest: var(--color-semantic-feedback-notifying-static-subtlest);
  --color-feedback-notifying-static-inverse-bolder: var(--color-semantic-feedback-notifying-static-inverse-bolder);
  --color-feedback-notifying-static-inverse-bold: var(--color-semantic-feedback-notifying-static-inverse-bold);
  --color-feedback-notifying-static-inverse-normal: var(--color-semantic-feedback-notifying-static-inverse-normal);
  --color-feedback-notifying-static-inverse-neutral: var(--color-semantic-feedback-notifying-static-inverse-neutral);
  --color-feedback-notifying-static-inverse-alternative: var(--color-semantic-feedback-notifying-static-inverse-alternative);
  --color-feedback-notifying-static-inverse-assistive: var(--color-semantic-feedback-notifying-static-inverse-assistive);
  --color-feedback-notifying-static-inverse-subtle: var(--color-semantic-feedback-notifying-static-inverse-subtle);
  --color-feedback-notifying-static-inverse-subtler: var(--color-semantic-feedback-notifying-static-inverse-subtler);
  --color-feedback-notifying-static-inverse-subtlest: var(--color-semantic-feedback-notifying-static-inverse-subtlest);

  /* 간격 */
  --spacing: initial;
  --spacing-*: initial;
  --spacing-0: var(--scheme-semantic-spacing-0);
  --spacing-1: var(--scheme-semantic-spacing-1);
  --spacing-2: var(--scheme-semantic-spacing-2);
  --spacing-3: var(--scheme-semantic-spacing-3);
  --spacing-4: var(--scheme-semantic-spacing-4);
  --spacing-6: var(--scheme-semantic-spacing-6);
  --spacing-8: var(--scheme-semantic-spacing-8);
  --spacing-10: var(--scheme-semantic-spacing-10);
  --spacing-12: var(--scheme-semantic-spacing-12);
  --spacing-16: var(--scheme-semantic-spacing-16);
  --spacing-20: var(--scheme-semantic-spacing-20);
  --spacing-24: var(--scheme-semantic-spacing-24);
  --spacing-28: var(--scheme-semantic-spacing-28);
  --spacing-32: var(--scheme-semantic-spacing-32);
  --spacing-40: var(--scheme-semantic-spacing-40);
  --spacing-48: var(--scheme-semantic-spacing-48);
  --spacing-56: var(--scheme-semantic-spacing-56);
  --spacing-64: var(--scheme-semantic-spacing-64);
  --spacing-72: var(--scheme-semantic-spacing-72);
  --spacing-80: var(--scheme-semantic-spacing-80);
  --spacing-96: var(--scheme-semantic-spacing-96);
  --spacing-112: var(--scheme-semantic-spacing-112);
  --spacing-128: var(--scheme-semantic-spacing-128);
  --spacing-144: var(--scheme-semantic-spacing-144);
  --spacing-margin-lg: var(--scheme-semantic-margin-lg);
  --spacing-margin-md: var(--scheme-semantic-margin-md);
  --spacing-margin-sm: var(--scheme-semantic-margin-sm);
  --spacing-margin-xl: var(--scheme-semantic-margin-xl);
  --spacing-margin-2xl: var(--scheme-semantic-margin-2xl);
  --spacing-margin-3xl: var(--scheme-semantic-margin-3xl);
  --spacing-margin-xs: var(--scheme-semantic-margin-xs);
  --spacing-margin-2xs: var(--scheme-semantic-margin-2xs);
  --spacing-margin-4xl: var(--scheme-semantic-margin-4xl);
  --spacing-margin-5xl: var(--scheme-semantic-margin-5xl);
  --spacing-margin-6xl: var(--scheme-semantic-margin-6xl);

  /* 모서리 */
  --radius-*: initial;
  --radius-0: var(--scheme-semantic-radius-0);
  --radius-2: var(--scheme-semantic-radius-2);
  --radius-4: var(--scheme-semantic-radius-4);
  --radius-6: var(--scheme-semantic-radius-6);
  --radius-8: var(--scheme-semantic-radius-8);
  --radius-10: var(--scheme-semantic-radius-10);
  --radius-12: var(--scheme-semantic-radius-12);
  --radius-16: var(--scheme-semantic-radius-16);
  --radius-24: var(--scheme-semantic-radius-24);
  --radius-max: var(--scheme-semantic-radius-max);

  /* 타이포그래피 */
  --text-*: initial;
  --text-title-1: var(--typo-primitive-fontSize-title-1);
  --text-title-1--line-height: var(--typo-primitive-font-lineHeight-title-1);
  --text-title-1--letter-spacing: var(--typo-primitive-font-letterSpacing-title-1);
  --text-title-2: var(--typo-primitive-fontSize-title-2);
  --text-title-2--line-height: var(--typo-primitive-font-lineHeight-title-2);
  --text-title-2--letter-spacing: var(--typo-primitive-font-letterSpacing-title-2);
  --text-title-3: var(--typo-primitive-fontSize-title-3);
  --text-title-3--line-height: var(--typo-primitive-font-lineHeight-title-3);
  --text-title-3--letter-spacing: var(--typo-primitive-font-letterSpacing-title-3);
  --text-title-4: var(--typo-primitive-fontSize-title-4);
  --text-title-4--line-height: var(--typo-primitive-font-lineHeight-title-4);
  --text-title-4--letter-spacing: var(--typo-primitive-font-letterSpacing-title-4);
  --text-title-5: var(--typo-primitive-fontSize-title-5);
  --text-title-5--line-height: var(--typo-primitive-font-lineHeight-title-5);
  --text-title-5--letter-spacing: var(--typo-primitive-font-letterSpacing-title-5);
  --text-title-6: var(--typo-primitive-fontSize-title-6);
  --text-title-6--line-height: var(--typo-primitive-font-lineHeight-title-6);
  --text-title-6--letter-spacing: var(--typo-primitive-font-letterSpacing-title-6);
  --text-body-lg: var(--typo-primitive-fontSize-body-lg);
  --text-body-lg--line-height: var(--typo-primitive-font-lineHeight-body-lg);
  --text-body-lg--letter-spacing: var(--typo-primitive-font-letterSpacing-body-lg);
  --text-body-md: var(--typo-primitive-fontSize-body-md);
  --text-body-md--line-height: var(--typo-primitive-font-lineHeight-body-md);
  --text-body-md--letter-spacing: var(--typo-primitive-font-letterSpacing-body-md);
  --text-body-sm: var(--typo-primitive-fontSize-body-sm);
  --text-body-sm--line-height: var(--typo-primitive-font-lineHeight-body-sm);
  --text-body-sm--letter-spacing: var(--typo-primitive-font-letterSpacing-body-sm);
  --text-body-xs: var(--typo-primitive-fontSize-body-xs);
  --text-body-xs--line-height: var(--typo-primitive-font-lineHeight-body-xs);
  --text-body-xs--letter-spacing: var(--typo-primitive-font-letterSpacing-body-xs);
  --text-body-2xs: var(--typo-primitive-fontSize-body-2xs);
  --text-body-2xs--line-height: var(--typo-primitive-font-lineHeight-body-2xs);
  --text-body-2xs--letter-spacing: var(--typo-primitive-font-letterSpacing-body-2xs);
  --text-label-lg: var(--typo-primitive-fontSize-label-lg);
  --text-label-lg--line-height: var(--typo-primitive-font-lineHeight-label-lg);
  --text-label-lg--letter-spacing: var(--typo-primitive-font-letterSpacing-label-lg);
  --text-label-md: var(--typo-primitive-fontSize-label-md);
  --text-label-md--line-height: var(--typo-primitive-font-lineHeight-label-md);
  --text-label-md--letter-spacing: var(--typo-primitive-font-letterSpacing-label-md);
  --text-label-sm: var(--typo-primitive-fontSize-label-sm);
  --text-label-sm--line-height: var(--typo-primitive-font-lineHeight-label-sm);
  --text-label-sm--letter-spacing: var(--typo-primitive-font-letterSpacing-label-sm);
  --text-label-xs: var(--typo-primitive-fontSize-label-xs);
  --text-label-xs--line-height: var(--typo-primitive-font-lineHeight-label-xs);
  --text-label-xs--letter-spacing: var(--typo-primitive-font-letterSpacing-label-xs);
  --text-syntax-lg: var(--typo-primitive-fontSize-syntax-lg);
  --text-syntax-lg--line-height: var(--typo-primitive-font-lineHeight-syntax-lg);
  --text-syntax-md: var(--typo-primitive-fontSize-syntax-md);
  --text-syntax-md--line-height: var(--typo-primitive-font-lineHeight-syntax-md);
  --text-syntax-sm: var(--typo-primitive-fontSize-syntax-sm);
  --text-syntax-sm--line-height: var(--typo-primitive-font-lineHeight-syntax-sm);
  --text-syntax-xs: var(--typo-primitive-fontSize-syntax-xs);
  --text-syntax-xs--line-height: var(--typo-primitive-font-lineHeight-syntax-xs);

  /* 글꼴 */
  --font-*: initial;
  --font-syntax: var(--typo-primitive-typeface-syntax);
  --font-title: var(--typo-primitive-typeface-title);
  --font-label: var(--typo-primitive-typeface-label);
  --font-body: var(--typo-primitive-typeface-body);
  --font-weight-*: initial;
  --font-weight-title-normal: var(--typo-primitive-fontWeight-title-normal);
  --font-weight-title-bold: var(--typo-primitive-fontWeight-title-bold);
  --font-weight-title-subtle: var(--typo-primitive-fontWeight-title-subtle);
  --font-weight-label-normal: var(--typo-primitive-fontWeight-label-normal);
  --font-weight-label-bold: var(--typo-primitive-fontWeight-label-bold);
  --font-weight-label-subtle: var(--typo-primitive-fontWeight-label-subtle);
  --font-weight-body-normal: var(--typo-primitive-fontWeight-body-normal);
  --font-weight-body-bold: var(--typo-primitive-fontWeight-body-bold);
  --font-weight-syntax-normal: var(--typo-primitive-fontWeight-syntax-normal);

  /* 브레이크포인트 */
  --breakpoint-*: initial;
  --breakpoint-mobile: 320px;
  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1200px;

  /* 그림자와 전환 */
  --shadow-*: initial;
  --shadow-embossed: var(--environment-semantic-shadow-embossed);
  --shadow-raised: var(--environment-semantic-shadow-raised);
  --shadow-floated: var(--environment-semantic-shadow-floated);
  --shadow-overlay: var(--environment-semantic-shadow-overlay);
  --ease-*: initial;
  --ease-bouncy: var(--environment-semantic-motion-bouncy);
  --ease-fluent: var(--environment-semantic-motion-fluent);
  --ease-leave: var(--environment-semantic-motion-leave);
  --ease-entrance: var(--environment-semantic-motion-entrance);
  --duration-50: var(--environment-semantic-duration-50);
  --duration-100: var(--environment-semantic-duration-100);
  --duration-150: var(--environment-semantic-duration-150);
  --duration-200: var(--environment-semantic-duration-200);
  --duration-250: var(--environment-semantic-duration-250);
  --duration-300: var(--environment-semantic-duration-300);
  --duration-350: var(--environment-semantic-duration-350);
  --duration-400: var(--environment-semantic-duration-400);
  --duration-450: var(--environment-semantic-duration-450);
  --duration-500: var(--environment-semantic-duration-500);
  --z-index-standard: var(--environment-semantic-zIndex-standard);
  --z-index-embossed: var(--environment-semantic-zIndex-embossed);
  --z-index-raised: var(--environment-semantic-zIndex-raised);
  --z-index-floated: var(--environment-semantic-zIndex-floated);
  --z-index-overlay: var(--environment-semantic-zIndex-overlay);
}
